body {
  background-color: antiquewhite;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 2em;
}

.calculator {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  border: 5px black solid;
  
}

.digit-container {
  display: grid;
  grid-template-columns: repeat(3,60px);
  gap: 5px;
  background-color: black;
  
  
}

.operations {
  display: flex;
  flex-direction: column;
  border: 5px black solid;
  border-left: 0px;
  
}

input {
  height: 40px;
  width: 182px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: right;
  background-color: darkgray;
  border-bottom: black 5px solid;
  
}

.op {
  padding: 16px 21px;
  font-weight: bold;
  font-size: 2em;
}

.digit {
  padding: 12px 6px;
  font-size: 14px;
  color: brown;
  font-size: 1.6em;
}

.digit:hover,
.op:hover,
.clear:hover {
  background-color:bisque
}